@use "src/styles/abstracts" as *;
@use "src/styles/utils" as *;

.header {
  display: flex;
  width: 100%;
  justify-content: center;

  @include mobile {
    padding: 0 16px;
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1280px;
    padding: 20px 0;
    background-color: transparent;
    @include mobile {
      width: 100%;
    }
    &__ul {
      display: flex;
      justify-content: space-between;
      width: 100%;
      list-style: none;
    }

    &__info {
      display: flex;
      align-items: center;
      gap: 20px;

      &__description {
        font-size: 12px;
        line-height: 16px;
        font-weight: 600;
        color: $secondary-color;
        @include mobile {
          display: none;
        }
      }
    }

    &__number-phone {
      font-size: 18px;
      font-weight: 700;
      line-height: 20px;
      color: $secondary-color;
      margin-left: 5px;
      @include mobile {
        font-size: 16px;
      }
    }
  }
}
