@use "src/styles/abstracts" as *;

.header {
  display: flex;
  width: 100%;
  justify-content: center;

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1280px;
    padding: 20px 0;
    background-color: transparent;

    &__ul {
      display: flex;
      justify-content: space-between;
      width: 100%;
      list-style: none;
    }

    &__info {
      display: flex;
      align-items: center;
      gap: 20px;

      &__description {
        font-size: 12px;
        line-height: 16px;
        font-weight: 600;
        color: $secondary-color;
      }
    }

    &__number-phone {
      font-size: 18px;
      font-weight: 700;
      line-height: 20px;
      color: $secondary-color;
      margin-left: 5px;
    }
  }
}
