@use "src/styles/abstracts" as *;
@use "src/styles/utils" as *;

.main {
  height: calc(100vh - 100px);
  width: 100%;
  background-color: $bg-color-primary;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  @include mobile {
    justify-content: flex-start;
    height: calc(100vh - 171px);
  }
  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 432px;
    height: 656px;
    background-image: url("https://prueba-github-io-git-main-zeroxbit.vercel.app/images/blur-celeste.png");
    z-index: 1;

    @include mobile {
      width: 256px;
      height: 304px;
      background-image: url("https://prueba-github-io-git-main-zeroxbit.vercel.app/images/blur-celeste-mobile.png");
      z-index: 1;
    }
  }

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 432px;
    height: 768px;
    background-image: url("https://prueba-github-io-git-main-zeroxbit.vercel.app/images/blur-purpple.png");
    z-index: 1;

    @include mobile {
      width: 256px;
      height: 304px;
      background-image: url("https://prueba-github-io-git-main-zeroxbit.vercel.app/images/blur-purpple-mobile.png");
      z-index: 1;
    }
  }
}
