// ==========================================
//                  Colors
// ==========================================
$gray-color-text: #5e6488;
$light-color-text: #ffffff;
$disabled-text-color: #7981b2;

$color-dark-blue: #141938;

$primary-color: #ff5a5f;

$secondary-color: #03050f;

$tertiary-color: #4f4fff;
$tertiary-color-opacity: #edeffc;

$bg-color-primary: #f8f9ff;

$checkbox-color: #0a051e;
