.icon__phone {
  display: block;
  width: 20px;
  height: 20px;
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.875 13.3813L14.375 11.925C14.1074 11.7656 13.7898 11.7118 13.4846 11.7742C13.1794 11.8366 12.9085 12.0108 12.725 12.2625L11.3625 14.075C10.1117 13.6292 8.96229 12.9387 7.98124 12.0438C7.08567 11.0609 6.39512 9.90929 5.94999 8.65631L7.76249 7.30005C8.01425 7.11654 8.1884 6.84564 8.25083 6.54043C8.31326 6.23521 8.25947 5.91768 8.09999 5.65006L6.61874 3.12505C6.5337 2.96823 6.41607 2.83143 6.27377 2.72384C6.13147 2.61626 5.96778 2.54037 5.79372 2.50129C5.61965 2.46222 5.43924 2.46087 5.26461 2.49731C5.08997 2.53374 4.92516 2.60713 4.78125 2.71255L3.92499 3.33755C3.49707 3.63701 3.14795 4.03558 2.90743 4.4992C2.66691 4.96283 2.54213 5.47776 2.54374 6.00006C2.48212 7.51883 2.75276 9.03274 3.33677 10.4361C3.92078 11.8394 4.80408 13.0984 5.925 14.1251C6.95165 15.246 8.2106 16.1293 9.61395 16.7133C11.0173 17.2973 12.5312 17.5679 14.05 17.5063C14.5723 17.5079 15.0872 17.3831 15.5509 17.1426C16.0145 16.9021 16.413 16.553 16.7125 16.125L17.3375 15.2688C17.4502 15.1205 17.5284 14.9489 17.5663 14.7666C17.6042 14.5842 17.6009 14.3956 17.5566 14.2147C17.5122 14.0338 17.428 13.8651 17.3101 13.7209C17.1922 13.5767 17.0435 13.4607 16.875 13.3813Z' fill='%2303050F'/%3E%3C/svg%3E%0A");
}

.icon-arrow-down {
  display: block;
  width: 14px;
  height: 9px;
  background-image: url("data:image/svg+xml,%3Csvg width='14' height='9' viewBox='0 0 14 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.00003 8.89365L0.493774 2.38115L2.25628 0.618652L7.00003 5.35615L11.7438 0.618652L13.5063 2.38115L7.00003 8.89365Z' fill='%2303050F'/%3E%3C/svg%3E%0A");
}

.icon-arrow-left {
  display: block;
  width: 20px;
  height: 20px;
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='10' cy='10' r='9' transform='rotate(90 10 10)' stroke='%234F4FFF' stroke-width='2'/%3E%3Cpath d='M7.55317 9.99995L10.8094 6.74683L11.6907 7.62808L9.32192 9.99995L11.6907 12.3718L10.8094 13.2531L7.55317 9.99995Z' fill='%234F4FFF'/%3E%3C/svg%3E%0A");
}

.icon-circle-check {
  display: block;
  width: 24px;
  height: 24px;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.5 12C0.5 5.67614 5.67614 0.5 12 0.5C18.3239 0.5 23.5 5.67614 23.5 12C23.5 18.3239 18.3239 23.5 12 23.5C5.67614 23.5 0.5 18.3239 0.5 12Z' stroke='%23C5CBE0' stroke-linecap='square'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12 0C5.4 0 0 5.4 0 12C0 18.6 5.4 24 12 24C18.6 24 24 18.6 24 12C24 5.4 18.6 0 12 0Z' fill='%23389E0D'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M17.1813 7.11293C17.5607 7.434 17.6081 8.00188 17.287 8.38133L10.687 16.1813C10.5215 16.3769 10.2806 16.4927 10.0245 16.4996C9.76844 16.5066 9.52153 16.4042 9.34564 16.2179L5.94564 12.6179C5.60435 12.2566 5.62063 11.687 5.98199 11.3457C6.34336 11.0044 6.91297 11.0207 7.25427 11.382L9.96311 14.2502L15.9129 7.21863C16.234 6.83919 16.8019 6.79187 17.1813 7.11293Z' fill='white'/%3E%3C/svg%3E%0A");
}

.icon-circle-uncheck {
  display: block;
  width: 24px;
  height: 24px;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.5 12C0.5 5.67614 5.67614 0.5 12 0.5C18.3239 0.5 23.5 5.67614 23.5 12C23.5 18.3239 18.3239 23.5 12 23.5C5.67614 23.5 0.5 18.3239 0.5 12Z' stroke='%23A9AFD9' stroke-linecap='square'/%3E%3C/svg%3E%0A");
}

.icon-family {
  display: block;
  width: 24px;
  height: 24px;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.1463 13.7647H18.2309C16.1102 13.7647 14.4 15.4756 14.4 17.5972V22H20.1691C22.2898 22 24 20.2891 24 18.1675V17.62C24 15.4756 22.267 13.7647 20.1463 13.7647Z' fill='%23141938'/%3E%3Cpath d='M18.6 12.5882C20.2569 12.5882 21.6 11.2714 21.6 9.64706C21.6 8.02269 20.2569 6.70588 18.6 6.70588C16.9431 6.70588 15.6 8.02269 15.6 9.64706C15.6 11.2714 16.9431 12.5882 18.6 12.5882Z' fill='%23141938'/%3E%3Cpath d='M7.8 10.2353C10.1196 10.2353 12 8.39176 12 6.11765C12 3.84353 10.1196 2 7.8 2C5.4804 2 3.6 3.84353 3.6 6.11765C3.6 8.39176 5.4804 10.2353 7.8 10.2353Z' fill='%23141938'/%3E%3Cpath d='M14.4 13.3483C13.6788 12.8789 12.8134 12.5882 11.8758 12.5882H4.32721C1.94725 12.5882 0 14.399 0 16.6123V18.2442C0 20.3233 1.803 22 4.03873 22H12.1402V17.6853C12.1402 15.9416 13.0297 14.3767 14.4 13.3483Z' fill='%23141938'/%3E%3C/svg%3E%0A");
}
